<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cine y Entretenimiento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <style type="text/css">
       
        .trailer-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            opacity: 0; /* Inicialmente oculto */
            transition: opacity 0.3s;
        }

        .movie-image:hover .trailer-overlay {
            opacity: 1; /* Mostrar cuando se pasa el mouse sobre la película */
        }
    </style>
</head>
<body>
    <div id="shell">
        <div id="header">
            <h1 id=""><a href="#">Cine y Entretenimiento-CONFITERIA</a></h1>

          <div id="shell">
    <div id="header">
       
        <div id="navigation">
            <ul class="navbar">
                <li><a href="/">CARTELERA</a></li>
                <li><a href="/proximamente">PROXIMAMENTE</a></li>
                <li><a href="/confiteria">CONFITERIA</a></li>
              
            </ul>
        </div>
    </div>
            <div id="sub-navigation">
                <ul>
                    <li><a href="#">COMBOS</a></li>
                </ul>
                <BR>
            
            </div>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2>BEBIDAS Y COMIDA</h2>
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">COMBO-PERSONAL</span></span>
                            <a href="/combo-personal" target="">
                              <img src="css/images/combopersonal.jpg" alt="COMBO-PERSONAL" />
                                <div class="trailer-overlay">Ver Combo</div>
                               
                                <div>
									 <br>
                             <h3> COMBO-PERSONAL</h3> 
                             </div>
                              
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">COMBO-PARA-DOS</span></span>
                            <a href="/combo-para-dos">
                                <img src="css/images/comboparados.jpg" alt="COMBO-PARA-DOS" />
                                <div class="trailer-overlay">Ver Combo</div>
                                 <div>
									 <br>
                             <h3> COMBO-PARA-DOS</h3> 
                             </div>
                            </a>
                        </div>
                        <div class "rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">CINE COMBITO</span></span>
                            <a href="/cine-combito">
                                <img src="css/images/cinecombito.jpg" alt="CINE COMBITO" />
                                <div class="trailer-overlay">Ver Combo</div>
                                      <div>
									 <br>
                             <h3> CINE COMBITO</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">COMBO CRISPETAS</span></span>
                            <a href="/combo-crispetas">
                                <img src="css/images/combocrispetas.jpg" alt="COMBO CRISPETAS" />
                                <div class="trailer-overlay">Ver Combo</div>
                                      <div>
									 <br>
                             <h3> COMBO CRISPETAS</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                 
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
        </div>

        <div id="footer">
            <p class="lf">Copyright &copy; 2023 <a href="#">Cine y Entretenimiento</a> - Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">DANIEL FONCE DANIEL RINCON</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>

