<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cine y Entretenimiento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <style type="text/css">
      
        .trailer-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            opacity: 0; /* Inicialmente oculto */
            transition: opacity 0.3s;
        }

        .movie-image:hover .trailer-overlay {
            opacity: 1; /* Mostrar cuando se pasa el mouse sobre la película */
        }
    </style>
</head>
<body>
    <div id="shell">
        <div id="header">
            <h1 id=""><a href="#">Cine y Entretenimiento</a></h1>

          <div id="shell">
    <div id="header">
       
        <div id="navigation">
            <ul class="navbar">
                <li><a href="/">CARTELERA</a></li>
                <li><a href="/proximamente">PROXIMAMENTE</a></li>
                <li><a href="/confiteria">CONFITERIA</a></li>
                 <li><a href="/login">Iniciar Sesion</a></li>
              
            </ul>
        </div>
    </div>
            <div id="sub-navigation">
                <ul>
                    <li><a href="#">CATEGORIAS</a></li>
              <BR>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2>ULTIMOS TRAILERS</h2>
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">THE-MARVEL</span></span>
                            <a href="/trailer" target="">
                              <img src="css/images/capitanamarvel.jpg" alt="CAPITANA-MARVEL" />
                                <div class="trailer-overlay">Ver Trailer</div>
                               
                                <div>
									 <br>
                             <h3> CAPITANA-MARVEL</h3> 
                             </div>
                              
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">GUARDIANES MUSEO</span></span>
                            <a href="/trailer2">
                                <img src="css/images/trailer2.jpg" alt="GUARDIANES-MUSEO" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
                             <h3> GUARDIANES MUSEO</h3> 
                             </div>
                            </a>
                        </div>
                        <div class "rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">EL PRIMER DIA DE MI VIDA</span></span>
                            <a href="/trailer3">
                                <img src="css/images/trailer3.jpg" alt="EL PRIMER DIA DE MI VIDA" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                      <div>
									 <br>
                             <h3> EL PRIMER DIA DE MI VIDA</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">PAW PATROL</span></span>
                            <a href="/trailer4">
                                <img src="css/images/trailer4.jpg" alt="PAW PATROL" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                      <div>
									 <br>
                             <h3> PAW PATROL</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">LOS JUEGOS DEL HAMBRE</span></span>
                            <a href="/trailer5">
                                <img src="css/images/trailer5.jpg" alt="LOS JUEGOS DEL HAMBRE" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                      <div>
									 <br>
                             <h3> LOS JUEGOS DEL HAMBRE</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie last">
                        <div class="movie-image">
                            <span class="play"><span class="name">NEFARIUS</span></span>
                            <a href="/trailer6">
                                <img src="css/images/trailer6.jpg" alt="NEFARIUS" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                      <div>
									 <br>
                             <h3> NEFARIUS</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        <h2>MEJOR CALIFICADA</h2>
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">EL JUSTICIERO</span></span>
                            <a href="/trailer7">
                                <img src="css/images/trailer7.jpg" alt="EL JUSTICIERO" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> EL JUSTICIERO</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>CLASIFICACIÓN</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">Five Nights at Freddy's </span></span>
                            <a href="/trailer8">
                                <img src="css/images/trailer8.jpg" alt="Five Nights at Freddy's " />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> Five Nights at Freddy's</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">Hypnotic</span></span>
                            <a href="/trailer9">
                                <img src="css/images/trailer9.jpg" alt="Hypnotic" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> Hypnotic</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">El Otro Hijo</span></span>
                            <a href="/trailer10">
                                <img src="css/images/trailer10.jpg" alt="El Otro Hijo" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> El Otro Hijo</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">All Fun and Games</span></span>
                            <a href="/trailer11">
                                <img src="css/images/trailer11.jpg" alt="All Fun and Games" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> All Fun and Games</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie last">
                        <div class="movie-image">
                            <span class="play"><span class="name">Á La Belle Étoile</span></span>
                            <a href="/trailer12">
                                <img src="css/images/tariler12.jpg" alt="Á La Belle Étoile" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> Á La Belle Étoile</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        <h2>MÁS COMENTADA</h2>
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">Trolls Band Together </span></span>
                            <a href="/trailer13">
                                <img src="css/images/trailer13.jpg" alt="Trolls Band Together " />
                                <div class="trailer-overlay">Ver Trailer</div>
                                  <div>
									 <br>
									 <br>
                             <h3> Trolls Band Together </h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">GLADIADOR</span></span>
                            <a href="/trailer14">
                                <img src="css/images/movie5.jpg" alt="GLADIADOR" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> GLADIADOR </h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">ICE AGE</span></span>
                            <a href="/trailer15">
                                <img src="css/images/movie6.jpg" alt="ICE AGE" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                   <div>
									 <br>
									 <br>
                             <h3> ICE AGE </h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">SPIDER-MAN 2</span></span>
                            <a href="trailer16">
                                <img src="css/images/movie2.jpg" alt="SPIDER-MAN 2" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> SPIDER-MAN 2 </h3> 
                             </div>
                                
                            </a>
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">NARNIA</span></span>
                            <a href="/trailer17">
                                <img src="css/images/movie11.jpg" alt="NARNIA" />
                               <div class="trailer-overlay">Ver Trailer</div>
                                <div>
									 <br>
									 <br>
                             <h3> NARNIA </h3> 
                             </div>
                              </a>
                            
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie last">
                        <div class="movie-image">
                            <span class="play"><span class="name">TRANSFORMES</span></span>
                            <a href="trailer18">
                                <img src="css/images/movie7.jpg" alt="TRANSFORMES" />
                                <div class="trailer-overlay">Ver Trailer</div>
                                 <div>
									 <br>
									 <br>
                             <h3> TRANSFORMES </h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                            <div class="">
                                <div class=""> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
        </div>

        <div id="footer">
            <p class="lf">Copyright &copy; 2023 <a href="#">Cine y Entretenimiento</a> - Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">DANIEL FONCE DANIEL RINCON</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>
