<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cine y Entretenimiento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <style type="text/css">
      
        .trailer-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            opacity: 0; /* Inicialmente oculto */
            transition: opacity 0.3s;
        }

        .movie-image:hover .trailer-overlay {
            opacity: 1; /* Mostrar cuando se pasa el mouse sobre la película */
        }
    </style>
</head>
<body>
    <div id="shell">
        <div id="header">
            <h1 id=""><a href="#">Cine y Entretenimiento-PROXIMAMENTE</a></h1>

          <div id="shell">
    <div id="header">
        <div id="navigation">
            <ul class="navbar">
                <li><a href="/">CARTELERA</a></li>
                <li><a href="#">PROXIMAMENTE</a></li>
                <li><a href="/confiteria">CONFITERIA</a></li>
              
            </ul>
        </div>
    </div>
            <div id="sub-navigation">
                <ul>
                    <li><a href="#">ESTRENOS</a></li>
              <BR>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2></h2>
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">NAPOLEON</span></span>
                            <a href="/estreno1" target="">
                              <img src="css/images/estreno1.jpg" alt="NAPOLEON" />
                                <div class="trailer-overlay">Ver Estreno</div>
                               
                                <div>
									 <br>
                             <h3> NAPOLEON</h3> 
                             </div>
                              
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">AQUAMAN</span></span>
                            <a href="/estreno2">
                                <img src="css/images/estreno2.jpg" alt="AQUAMAN" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                 <div>
									 <br>
                             <h3> AQUAMAN</h3> 
                             </div>
                            </a>
                        </div>
                        <div class "rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">WISH</span></span>
                            <a href="/estreno3">
                                <img src="css/images/estreno3.jpg" alt="WISH" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                      <div>
									 <br>
                             <h3> WISH</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">RADICAL</span></span>
                            <a href="/estreno4">
                                <img src="css/images/estreno4.jpg" alt="RADICAL" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                      <div>
									 <br>
                             <h3> RADICAL</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">BROKER</span></span>
                            <a href="/estreno5">
                                <img src="css/images/estreno5.jpg" alt="BROKER" />
                                <div class="trailer-overlay">Ver EStreno</div>
                                      <div>
									 <br>
                             <h3> BROKER</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="movie last">
                        <div class="movie-image">
                            <span class="play"><span class="name">THE MEAN ONE</span></span>
                            <a href="/estreno6">
                                <img src="css/images/estreno6.jpg" alt="THE MEAN ONE" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                      <div>
									 <br>
                             <h3> THE MEAN ONE</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="rating">
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        
                        <br>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">WONKA</span></span>
                            <a href="/estreno7">
                                <img src="css/images/estreno7.jpg" alt="WONKA" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                 <div>
									 <br>
									 <br>
                             <h3> WONKA</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="">
                            
                            <div class="">
                                <div class=""> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">THE LAKE </span></span>
                            <a href="/estreno8">
                                <img src="css/images/estreno8.jpg" alt="THE LAKE" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                 <div>
									 <br>
									 <br>
                             <h3> THE LAKE</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="">
                            <p></p>
                            <div class="">
                                <div class=""> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">VENGANZA SILENCIOSA</span></span>
                            <a href="/estreno9">
                                <img src="css/images/estreno9.jpg" alt="VENGANZA SILENCIOSA" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                 <div>
									 <br>
									 <br>
                             <h3> VENGANZA SILENCIOSA</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="">
                            <p></p>
                            <div class="">
                                <div class=""> </div>
                            </div>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image">
                            <span class="play"><span class="name">SLEEP</span></span>
                            <a href="/estreno10">
                                <img src="css/images/estreno10.jpg" alt="SLEEP" />
                                <div class="trailer-overlay">Ver Estreno</div>
                                 <div>
									 <br>
									 <br>
                             <h3> SLEEP</h3> 
                             </div>
                            </a>
                        </div>
                        <div class="">
                            <p></p>
                            <div class="">
                                <div class=""> </div>
                            </div>
                        </div>
                        
                    </div>   
                
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
        </div>
<BR>
	<BR>
		<BR>
			<BR>
        <div id="footer">
            <p class="lf">Copyright &copy; 2023 <a href="#">Cine y Entretenimiento</a> - Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">DANIEL FONCE DANIEL RINCON</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>
